.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.main-nav a {
    font-weight: bold;
    color: #2c3e50;
}

.main-nav a.router-link-exact-active {
    color: #42b983;
}

.main-nav-content-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    height: 40px;
}

.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
}

.main-nav-item:hover {
    text-decoration: underline;
}

.main-nav-logo {
    display: flex;
    align-items: center;
}

.main-nav-logo-image {
    max-width: 100%;
    width: 155px;
}

.fa-user-circle, .fa-sign-out {
    margin-right: 5px;
}

@media (min-width: 768px){
    .main-nav-content-item{
        flex-direction: row;
        margin-top: 0;
        width: 180px;
        height: auto;
    }

    .main-nav-logo-image {
        width: 200px;
    }
}